<div class="form-container">
  <h2>Create Account</h2>
  <form (submit)="onSubmit($event)">
    <div class="field">
      @let email = form.email();
      @let showEmailError = email.invalid() && email.touched();
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        [formField]="form.email"
        [class.error]="showEmailError"
      />
      @if (email.pending()) {
        <p class="info">Verifying email…</p>
      }
      @if (showEmailError) {
        <ul class="error-message">          
          @for (error of email.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }

      <p>Form pending: {{form().pending()}}</p>
      <p>Form status: {{form().valid()}}</p>

      @if(form().valid()){
        <p style="color: green;">VALID FORM!!!!!</p>
      }

    </div>
    <button type="submit" [disabled]="form().invalid()">
      Create Account
    </button>
  </form>
</div>
